/* Global */

* {
    /* pass */
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: none;
}

h1 {
    letter-spacing: 1.6px;
    font-family: "Open Sans", light;
    color: #fff;
    text-align: center;
    font-size: 2.8rem;
    line-height: normal;
}

h2 {
    font-family: "Open Sans", regular;
    text-align: left;
    text-decoration:none;
    font-size: 1.5rem;
    color: #383844;
}

a {
    letter-spacing: 1.7px;
    font-family: "Quicksand", regular;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    margin-bottom: 0.0rem;
}

.body-img {
    max-width: 30%;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.body-img:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

video {
    display: block;
    margin: 0 auto;
    width: auto;
}

/*
video::-webkit-media-controls-timeline {
    background-color: #f00;
    padding-bottom: 0;
    margin-bottom: 20px;
}
*/

video::-webkit-media-controls-volume-slider {
    background-color: #f00;
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0;
}

.circle-image {
    display: block;
    height: 9.5rem;
    width: 9.5rem;
    margin-top: 1.2rem;
    margin-bottom: 2.6rem;
}

.quote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}

.page-header {
    text-align: center;
    background-image: linear-gradient(120deg, #242430, #544848);
    background-color: #159957;
    padding-top: 2.0rem;
    padding-right: 4.0rem;
    padding-bottom: 3.0rem;
    padding-left: 4.0rem;
    margin-bottom: 1rem;
}

.main-background {
    background-image: linear-gradient(120deg, #eeeeff, #eeffee);
}

.image-footer {
    display: block;
    margin-top: 1.6rem;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: #404b59;
    line-height: 1.6;
    font-family: "Quicksand", Light;
    text-align: center; 
}

.center {
    float: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 2px;
}

.box {
    padding-top: 0.6rem;
    paddin-bottom: 0.6rem;
}

.guernica-banner {
    margin-top: 4rem;
    width: 100%;
}

p {
    color: #303b49;
    text-align: left;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    /*margin-top: 2rem;*/
    line-height: 1.6;
    font-family: "Quicksand", Light;
}

.paragraph {
    border-top: solid 1px #eff0f1;
}

.footer {
    background: #0C4B33;
}

  /* Buttons */

.transparent-btn {
    border-color: rgba(210,210,210,.2);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    display: inline-block;
    box-sizing: border-box;
    color:rgba(255,255,255,.7);
    background-color:rgba(255,255,255,.08);
    padding: 0.7rem 1.1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    line-height: 1.9;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    transition-duration: 0.3s;
    transition:color .2s,background-color .2s,border-color .2s
    -webkit-transition-duration: 0.3s;
}

.transparent-btn:hover {
    border-color:rgba(255,255,255,.2);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:rgba(255,255,255,.8);
    background-color:rgba(255,255,255,.2);
    text-decoration:none;
    border-color:rgba(255,255,255,.3)
}
